body {
    background-color: #3CB371;
}

a:link, a:visited {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    color: #ffeeee;
    font-weight: 600;
    margin-left: 30px;
}

a:hover {
    color: yellow;
    font-size: 21pt;
    margin-left: 50px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22pt;
}